
<!-- end wrapper page -->
<!-- jQuery  -->
<script type="text/javascript" src="/js/modernizr.min.js" charset="utf-8">
</script>
<script type="text/javascript" src="/js/jquery.min.js" charset="utf-8">
</script>
<script type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8">
</script>
<script type="text/javascript" src="/js/detect.js" charset="utf-8">
</script>
<script type="text/javascript" src="/js/fastclick.js" charset="utf-8">
</script>
<script type="text/javascript" src="/js/jquery.slimscroll.js" charset="utf-8">
</script>
<script type="text/javascript" src="/js/jquery.blockUI.js" charset="utf-8">
</script>
<script type="text/javascript" src="/js/waves.js" charset="utf-8">
</script>
<script type="text/javascript" src="/js/wow.min.js" charset="utf-8">
</script>
<script type="text/javascript" src="/js/jquery.nicescroll.js" charset="utf-8">
</script>
<script type="text/javascript" src="/js/jquery.scrollTo.min.js" charset="utf-8">
</script>
<!-- Sweet Alert js -->
<script type="text/javascript" src="/plugins/bootstrap-sweetalert/sweet-alert.min.js" charset="utf-8">
</script>
<script type="text/javascript" src="/js/util.js" charset="utf-8">
</script>
<script type="text/javascript" src="/js/common.js" charset="utf-8">
</script>
<script type="text/javascript" src="/js/benefit.js" charset="utf-8">
</script>
<!-- App js -->
<!--script src="/js/jquery.core.js"></script>
<script src="/js/jquery.app.js"></script-->
</body>

</html>
